.group-btn {
    position: absolute;
    padding: 0;
    margin: 0;
    top:  1rem;
    right: 1rem;
    z-index: 1000;
    .btn.btn-action {
        border-radius: 50%;
        opacity: .9;
        color: #333;
        background-color: white;
        padding: .75rem;
        &:hover {
            background-color: #333;
            color: white;
        }
    }
}